
.news {
    margin-top: 20px;
}

.news dt {
    float: left;
    width: 180px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news dd {
    margin-left: 200px;
    min-height: 30px;
}

.news-date {
    display: block;
    font-size: 11px;
    font-weight: normal;
}

.news-date:before {
    content: "(";
}

.news-date:after {
    content: ")";
}

ul.packageicons {
    margin-left: 20px !important;
    margin-top: 20px;
}

.packageicons li {
    margin-left: 0px !important;
    min-width: 220px;
}

.packageicons div.img {
    display: block;
    height: 80px;
}

.packageicons div.img-label {
    display: block;
    margin-left: 80px;
}

.packageicons .thumbnail {
    height: 80px;
    margin-right: 10px;
    border: none;
    box-shadow: none;
}

.topnavicons {
    margin-left: 10% !important;
}

.topnavicons li {
    margin-left: 0px !important;
    min-width: 100px;
    text-align: center;
}

.topnavicons .thumbnail {
    margin-right: 10px;
    border: none;
    box-shadow: none;
    text-align: center;
    font-size: 85%;
    font-weight: bold;
    line-height: 10px;
    height: 100px;
}

.topnavicons .thumbnail img {
    display: block;
    margin-left: auto; 
    margin-right: auto;
}
