[build.environment]
  PYTHON_VERSION = "3.8"
  HUGO_VERSION = "0.104.3"

[[redirects]]
  from = "/scipylib"
  to = "/"

[[redirects]]
  from = "/scipylib/license.html"
  to = "https://github.com/scipy/scipy/blob/main/LICENSE.txt"

[[redirects]]
  from = "/scipylib/download.html"
  to = "/download/"

[[redirects]]
  from = "/scipylib/mailing-lists.html"
  to = "/mailing-lists/"

[[redirects]]
  from = "/scipylib/bug-report.html"
  to = "/bug-report/"

[[redirects]]
  from = "/scipylib/dev-zone.html"
  to = "/contribute/"

[[redirects]]
  from = "/scipylib/donations.html"
  to = "/donations/"

[[redirects]]
  from = "/scipylib/faq.html"
  to = "/faq/"

[[plugins]]
  package = "netlify-plugin-checklinks"

[[plugins]]
  package = "@netlify/plugin-lighthouse"

  # optional, fails build when a category is below a threshold
  [plugins.inputs.thresholds]
    performance = 0.85
    accessibility = 0.95
    best-practices = 0.95
    seo = 0.9
    pwa = 0.2

  # optional, deploy the lighthouse report to a path under your site
  [plugins.inputs]
    output_path = "reports/lighthouse.html"
