[build.environment]
  PYTHON_VERSION = "3.8" # netlify currently only support 2.7 and 3.8
  HUGO_VERSION = "0.120.3"
  DART_SASS_VERSION = "1.69.4"
  DART_SASS_URL = "https://github.com/sass/dart-sass/releases/download/"

[build]
  base = "/"
  publish = "public"
  command = """\
    export DART_SASS_TARBALL="dart-sass-${DART_SASS_VERSION}-linux-x64.tar.gz" && \
    curl -LJO ${DART_SASS_URL}/${DART_SASS_VERSION}/${DART_SASS_TARBALL} && \
    tar -xf ${DART_SASS_TARBALL} && \
    rm ${DART_SASS_TARBALL} && \
    export PATH=/opt/build/repo/dart-sass:$PATH && \
    make html \
    """

[[redirects]]
  from = "/scipylib"
  to = "/"

[[redirects]]
  from = "/scipylib/license.html"
  to = "https://github.com/scipy/scipy/blob/main/LICENSE.txt"

[[redirects]]
  from = "/scipylib/download.html"
  to = "/install/"

[[redirects]]
  from = "/scipylib/mailing-lists.html"
  to = "/mailing-lists/"

[[redirects]]
  from = "/scipylib/bug-report.html"
  to = "/bug-report/"

[[redirects]]
  from = "/scipylib/dev-zone.html"
  to = "/contribute/"

[[redirects]]
  from = "/scipylib/donations.html"
  to = "/donations/"

[[redirects]]
  from = "/scipylib/faq.html"
  to = "/faq/"

[[plugins]]
  package = "netlify-plugin-checklinks"
  [plugins.inputs]
  skipPatterns = ['https://fonts.gstatic.com', 'https://fonts.googleapis.com']
