{% extends "!layout.html" %}
{% set title = 'Scientific Computing Tools For Python' %}

{% block body %}

<table>

  <tr>
    <td style="border-style: none;">
      <a href="download.html">
         <img alt="Download" src="_static/images/download.png" title="Download" height="80" style="display: block; margin-left: auto; margin-right: auto;"/></a> </td>
    <td style="border: medium none ;">
      <a href="getting-started.html">
        <img alt="Getting Started" src="_static/images/tutorial.png" title="Getting Started"  height="80" style="display: block; margin-left: auto; margin-right: auto;"/></a> </td>
    <td style="border: medium none ;">
      <a href="http://docs.scipy.org">
        <img alt="Documentation" src="_static/images/documentation.png" title="Documentation"  height="80" style="display: block; margin-left: auto; margin-right: auto;"/></a> </td>
    <td style="border: medium none ;">
      <a href="bug-report.html">
        <img alt="Bug Report" src="_static/images/bugs.png" title="Bug Report"  height="80" style="display: block; margin-left: auto; margin-right: auto;"/></a> </td>
    <td style="border: medium none ;">
      <a href="http://planet.scipy.org">
         <img alt="Blog" src="_static/images/feed-icon.png" title="Blog"  height="80" style="display: block; margin-left: auto; margin-right: auto;"/></a> </td>
  </tr>

  <tr>
    <td style="border: medium none; text-align: center;"><strong><small><a href="download.html">Download</a></small></strong></td>
    <td style="border: medium none; text-align: center;"><strong><small><a href="getting-started.html">Getting Started</a></small></strong></td>
    <td style="border: medium none; text-align: center;"><strong><small><a href="http://docs.scipy.org">Documentation</a></small></strong></td>
    <td style="border: medium none; text-align: center;"><strong><small><a href="bug-report.html">Report Bugs</a></small></strong></td>
    <td style="border: medium none; text-align: center;"><strong><small><a href="http://planet.scipy.org">Read the Blog</a></small></strong></td>
  </tr>

</table>


<p>SciPy (pronounced “Sigh Pie”) is a Python-based ecosystem
of open-source software for mathematics, science, and engineering.
<a href="content.html">Read more.</a></p>



<table>
  <tr><td colspan="3"><h2 class="title">Core Projects</h2></td></tr>
  <tr>
  
    <td class="packageicon">
      <img class="packageicon" src="_static/images/numpylogo_med.png" height="50"/></td>
    <td class="package">
	    <a href="http://numpy.scipy.org">NumPy</a><br />Base N-dimensional array package</td>
    
    <td class="packageicon">
      <img class="packageicon" src="_static/images/scipy_med.png" height="50"/></td>
    <td class="package">
	    <a href="http://www.scipy.org">SciPy</a><br />Fundamental Library for Scientific Computing</td>
    
    <td class="packageicon">
      <img class="packageicon" src="_static/images/scipy_med.png" height="50"/></td>
    <td class="package"><a href="http://scikits.appspot.com">SciKits</a><br />Specialised Add-on Libraries</td>
  
  </tr>
  
  <tr>
      <td colspan="3">
          <h2 class="title">Related Projects</h2>
      </td>
  <tr>
  
    <td class="packageicon">
      <img class="packageicon" src="_static/images/ipython.png" height="50"/></td>
    <td class="package">
	    <a href="http://ipython.scipy.org">IPython</a><br />Enhanced Interactive Console</td>
    
    <td class="packageicon">
      <img class="packageicon" src="_static/images/matplotlib_med.png" height="50"/></td>
    <td class="package">
	    <a href="http://matplotlib.sourceforge.net">Matplotlib</a><br />Comprehensive 2D Plotting</td>
    
    <td class="packageicon">
      <img class="packageicon" src="_static/images/mayavi2.png" height="50"/></td>
    <td class="package"><a href="http://code.enthought.com/projects/mayavi/">Mayavi</a><br />3D Visualization</td>
  
  </tr>
  
  <tr>
  
    <td class="packageicon">
      <img class="packageicon" src="_static/images/enthought-logo.png" height="50"/></td>
    <td class="package">
	    <a href="http://code.enthought.com/projects/chaco/">Chaco</a><br />2D Plotting Widgets</td>
    
    <td class="packageicon">
      <img class="packageicon" src="_static/images/enthought-logo.png" height="50"/></td>
    <td class="package">
	    <a href="http://code.enthought.com/projects/traits/">Traits</a><br />Typed/Validated Attributes and Widgets</td>

  </tr>

</table>


{% endblock %}
