{% extends "layout.html" %}
{% set title = 'Scientific Computing Tools For Python' %}

{% block body %}

<table>

  <tr>
    <td style="border-style: none;">
      <a href="download.html">
         <img alt="Download" src="_static/images/download.png" title="Download" /></a> </td>
    <td style="border: medium none ;">
      <a href="getting-started.html">
        <img alt="Getting Started" src="_static/images/tutorial.png" title="Getting Started" /></a> </td>
    <td style="border: medium none ;">
      <a href="http://docs.scipy.org">
        <img alt="Documentation" src="_static/images/documentation.png" title="Documentation" /></a> </td>
    <td style="border: medium none ;">
      <a href="http://www.scipy.org/BugReport">
        <img alt="Bug Report" src="_static/images/bugs.png" title="Bug Report" /></a> </td>
    <td style="border: medium none ;">
      <a href="http://planet.scipy.org">
         <img alt="Blog" src="_static/images/feed-icon.png" title="Blog" /></a> </td>

  </tr>
</table>


<p>SciPy (pronounced “Sigh Pie”) is, broadly speaking, an ecosystem
of open-source software for mathematics, science, and engineering.</p>

<p>SciPy refers to three related but distinct things:</p>

<ul class="simple">
  <li>A <em>software library</em>, a collection of scientific toolboxes based on
     <a class="reference external" href="http://numpy.scipy.org/">NumPy</a>;</li>
  <li>A <em>community</em> surrounding an open source software tool stack,
      including but not limited to NumPy and SciPy;</li>
  <li>An annual <em>conference</em> dedicated to scientific computing with Python.</li>
</ul>


<h2 class="title">Core Projects</h2>

<table>

  <tr>
  
    <td class="packageicon">
      <img src="_static/images/numpylogo_med.png" height="50"/></td>
    <td class="package">
      <a href="http://numpy.scipy.org">NumPy</a>: Base package</td>
    
    <td class="packageicon">
      <img src="_static/images/scipy_med.png" height="50"/></td>
    <td class="package">
      <a href="http://www.scipy.org">SciPy</a>: Fundamental library for Scientific Computing</td>
    
    <td class="packageicon">
      <img src="_static/images/scipy_med.png" height="50"/></td>
    <td class="package"><a href="http://scikits.appspot.com">Scikits</a>: Specialised add-on libraries</td>
  
  </tr>

</table>
  
<h2 class="title">Related Projects</h2>

<table>

  <tr>
  
    <td class="packageicon">
      <img src="_static/images/ipython.png" height="50"/></td>
    <td class="package">
      <a href="http://ipython.scipy.org">IPython</a>: Interactive Console</td>
    
    <td class="packageicon">
      <img src="_static/images/matplotlib_med.png" height="50"/></td>
    <td class="package">
      <a href="http://matplotlib.sourceforge.net">Matplotlib</a>: 2D plotting</td>
    
    <td class="packageicon">
      <img src="_static/images/mayavi2.png" height="50"/></td>
    <td class="package"><a href="http://mayavi.sourceforge.net">Mayavi</a>: 3D plotting</td>
  
  </tr>
  
  <tr>
  
    <td class="packageicon">
      <img src="_static/images/enthought-logo.png" height="50"/></td>
    <td class="package">
      <a href="http://code.enthought.com/projects/chaco/">Chaco</a>: 2D Plotting Widgets</td>
    
    <td class="packageicon">
      <img src="_static/images/enthought-logo.png" height="50"/></td>
    <td class="package">
      <a href="http://code.enthought.com/projects/traits/">Traits</a>: Type definitions and widgets</td>

  </tr>

</table>

<p style="text-align: right;">
  <a href="http://www.scipy.org/Topical_Software">Read more about other scientific packages</a>
</p>

{% endblock %}
