{{ $title := "" }}
{{ if .IsNamedParams }}
  {{ with .Get "title" }}
    {{ $title = . }}
  {{ end }}
{{ else }}
  {{ with .Get 0 }}
    {{ $title = . }}
  {{ end }}
{{ end }}


<link rel = "stylesheet" 
      href = "https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">


<link rel = "stylesheet" 
      href = "https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<script type = "text/javascript" 
	src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script type = "text/javascript" 
	src = "https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js">
</script>

<script>
	$(function() {
		$( "#tabs" ).tabs();
	});
</script>

<div id = "tabs">
{{ $ss:=split .Inner "---" }}
	<ul>	
	{{ range $idx, $el :=$ss }}
		{{ $content:=split $el "$$$" }}
		<li><a href = "#{{  (printf ("tab-%d") $idx)  }}"> {{index $content 0}}</a></li>
	{{ end }}
	</ul>


	{{ range $idx, $el :=$ss }}	
		{{ $content:=split $el "$$$" }}
		{{ $tab := index $content 1 }}
		<div id ="{{  (printf ("tab-%d") $idx)  }}">
			 {{ $tab | markdownify }}
		</div>

	{{ end }}

</div>
{{ $title}}
